
.scoreboard {
  min-height: 20px;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-align: center;

  .heading {
    font-weight: 700;
  }
  .score {
    font-size: 2em;
    color: #5e605d;
  }
}